<!DOCTYPE html>
<html lang="en" xmlns:method="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <link rel="icon" href="/public/image/21.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뽀송길</title>
</head>

<body>
<div id="wrap">
    <main class="main-screen welcome-screen">
        <header class="login-header welcome-header">
            <h1 class="login-header__title welcome-header__title"><br> 반가워요!</h1>
            <p>뽀송길만 걷게 해드릴게요 <i class="fa-solid fa-cloud" style="color: #9fd8f6;"></i></p>
        </header>
        <a href="/api/getadmin" id="button2">어드민 권한 받아보기~</a><br/><br/>
        <a href="/api/reports" id="Button">전체 신고목록</a><br/><br/>
        <a href="/api/forcasts" id="Buttom3">기상정보 받아오기</a><br/><br/>
        <input type="text" id="memberidInput" placeholder="Enter memberid" />
        <button id="blockMemberButton">Block Member</button><br/><br/>
    </main>
</div>

<footer class="footer">
    <div class="project-info">
        <h4 class="project-name">뽀송길</h4>
        <p>2023 - SSU Software Project</p>
    </div>
</footer>
<script src="https://kit.fontawesome.com/660f4d6ed1.js" crossorigin="anonymous"></script>
<script>
    function sendRequestWithToken(url, token) {
        fetch(url, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`
            }
        }).then(response => {
            if (response.status === 401) {
                return response.json().then(data => {
                    if (data.accessToken) {
                        // 새로 발급된 토큰 저장
                        currentAccessToken = data.accessToken;
                        localStorage.setItem('token', currentAccessToken);
                        window.location.reload();
                    } else {
                        // 로그인 페이지로 리다이렉션 등
                        window.location.href = '/';
                    }
                });
            } else {
                return response.text().then(data => {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(data, 'text/html');
                    const newContent = doc.body;

                    // 새로운 내용을 기존 내용의 아래에 추가합니다.
                    document.body.appendChild(newContent);
                });
            }
        });
    }
    //버튼 클릭 시 요청 보내는 함수
    document.querySelectorAll('a').forEach(anchor => {
        anchor.addEventListener('click', function(event) {
            event.preventDefault(); // 기본 동작 (링크 이동)을 막습니다.

            let url = this.getAttribute('href'); // 버튼의 href 속성을 가져옵니다.
            let token = localStorage.getItem('token'); // 여기에 실제 토큰 값이 들어가야 합니다.

            // 요청 보냅니다.
            sendRequestWithToken(url, token);})
    });

    // Block Member 버튼 클릭 시 요청 보내는 함수
    document.getElementById('blockMemberButton').addEventListener('click', function() {
        let memberid = document.getElementById('memberidInput').value;
        if (memberid) {
            let url = `/blockmember/${memberid}`;
            let token = localStorage.getItem('token'); // 여기에 실제 토큰 값이 들어가야 합니다.

            // 요청 보냅니다.
            sendRequestWithToken(url, token);
        } else {
            alert('Please enter a memberid.');
        }
    });

</script>
</body>

</html>