<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/image/21.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뽀송길</title>
</head>

<body>
    <div class="status-bar">
        <div class="status-bar__column">
            <span>PPOSONG</span>
            <!-- Icon -->
            <i class="fa-solid fa-cloud" style="color: #9fd8f6;"></i>
        </div>

        <div class="status-bar__column">
            <span>ver 0.6.2</span>
            <!-- version information &Icon-->
        </div>
    </div>

    <header class="alt-header">
        <div class="alt-header__column">
            <i class="fa-solid fa-angle-left fa-xl"></i>
        </div>
        <div class="alt-header__column">
            <h1 class="alt-header__title">게시글</h1>
        </div>
        <div class="alt-header__column">
            <!-- 헤더 우측에 위치한 홈/마이페이지 버튼 -->
            <nav class="screen-header__menu">
                <ul class="screen-header__menu-list">
                    <li class="screen-header__menu-btn">
                        <a class="screen-header__menu-link" href="/main"><i class="fa-solid fa-house fa-lg"></i></a>
                    </li>
                    <li class="screen-header__menu-btn">
                        <a class="screen-header__menu-link" href="/main/mypage"><i
                                class="fa-solid fa-circle-user fa-lg"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="post-detail" id="postDetail">
        <!-- 게시글 상세 내용이 여기에 렌더링됩니다. -->
    </div>


    <script src="https://kit.fontawesome.com/660f4d6ed1.js" crossorigin="anonymous"></script>
    <script src="/js/back.js"></script>
    <script src="/js/secondhand/show.js"></script>
</body>

</html>