<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="/css/styles.css" />
	<link rel="icon" href="/image/21.png" type="image/x-icon">
	<!-- jQuery UI의 Autocomplete 기능 사용 (자동완성 기능)-->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>뽀송길</title>
</head>

<body>
	<div class="status-bar">
		<div class="status-bar__column">
			<span>PPOSONG</span>
			<i class="fa-solid fa-cloud" style="color: #9fd8f6;"></i>
		</div>
		<div class="status-bar__column">
			<span>ver 0.0.2</span>
		</div>
	</div>
	<header class="alt-header">
		<div class="alt-header__column">
			<i class="fa-solid fa-angle-left fa-xl"></i>
		</div>
		<div class="alt-header__column">
			<h1 class="alt-header__title">뽀송길</h1>
		</div>
		<div class="alt-header__column">
			<!-- 헤더 우측에 위치한 홈/마이페이지 버튼 -->
			<nav class="screen-header__menu">
				<ul class="screen-header__menu-list">
					<!-- 새로 추가한 우산 아이콘 -->
					<li class="screen-header__menu-btn">
						<a class="screen-header__menu-link" href="/secondhand/list.html"><i
								class="fa-solid fa-umbrella"></i></a>
					</li>
					<li class="screen-header__menu-btn">
						<a class="screen-header__menu-link" href="/main"><i class="fa-solid fa-house fa-lg"></i></a>
					</li>
					<li class="screen-header__menu-btn">
						<a class="screen-header__menu-link" href="/main/mypage"><i
								class="fa-solid fa-circle-user fa-lg"></i></a>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<main class="newhome-screen">
		<!--카카오맵 지도-->
		<div id="map" style="height:100vh;">
			<!-- 메인 홈 화면 출발지/도착지 검색 창-->
			<form class="searchBox" action="/main/POI/result" method="post" style="position: absolute; z-index: 2;">
				<!--수정 필요-->
				<div class="searchBox-component">
					<input id="start-field" autocomplete="off" name="start" required type="text" placeholder="출발지 검색" />
					<input id="start-lat" type="hidden" name="start_lat">
					<input id="start-lon" type="hidden" name="start_lon">

					<input id="end-field" autocomplete="off" name="end" required type="text" placeholder="목적지 검색" />
					<input id="end-lat" type="hidden" name="end_lat">
					<input id="end-lon" type="hidden" name="end_lon">
					<input id="routes" type="hidden" name="routes">
				</div>
				<div class="searchBox-component">
					<input type="submit" value="길찾기" id="search-form-submit" />
				</div>
			</form>

			<!--1시간 간격 강수량 버튼-->
			<nav class="time-nav" style="z-index: 2">
				<ul class="time-nav__list">
					<li class="time-nav__btn" onclick="clickedBtn(0)" style="z-index:2">00:00</li>
					<li class="time-nav__btn" onclick="clickedBtn(1)" style="z-index:2">01:00</li>
					<li class="time-nav__btn" onclick="clickedBtn(2)" style="z-index:2">02:00</li>
					<li class="time-nav__btn" onclick="clickedBtn(3)" style="z-index:2">03:00</li>
					<li class="time-nav__btn" onclick="clickedBtn(4)" style="z-index:2">04:00</li>
					<li class="time-nav__btn" onclick="clickedBtn(5)" style="z-index:2">05:00</li>
				</ul>
			</nav>
			<!--우측 상단 북마크 버튼-->
			<div class="buttons" style="z-index: 2">
				<div class="bookmark-btn" onclick="toggleBookmark()">
					<i class="fa-regular fa-bookmark"></i>
				</div>
			</div>
			<!--우측 상단 위치 버튼-->
			<div class="buttons" style="z-index: 2">
				<div class="location-btn" onclick="showLocation()">
					<i class="fa-solid fa-location-crosshairs"></i>
				</div>
			</div>
			<!--우측 상단 날씨 버튼-->
			<div class="buttons" style="z-index: 2">
				<div class="weather-btn">
					<i class="fa-solid fa-cloud"></i>
				</div>
			</div>

			<!--하단 info component-->
			<div class="bottom-bar" style="z-index: 2" hidden>
				<div class="content"></div>
			</div>
		</div>
	</main>

	<div id="intro-screen">
		<div class="intro-header">
			<h1 class="intro-header__title">뽀송길</h1>
			<p class="intro-header__subtitle"> 뽀송하게 이동할 시간 <i class="fa-solid fa-cloud" style="color: white;"></i></p>
		</div>
	</div>

	<!--js-->
	<script>
		const receivedData = JSON.parse(`{{gridData}}`); // 템플릿 문법이라 js파일에 추가 시 오류 발생하므로 html파일에 넣어줘야 함 (js파일로 분리 하면 X)
	</script>
	<!--카카오맵 API-->
	<!--2024.03.24 이경호 "https://localhost" 삭제(도커 구동 중이지 않은 장치에서도 호출 가능하도록 수정)-->
	<script type="text/javascript" src="/api/map"></script>

	<!--아이콘-->
	<script src="https://kit.fontawesome.com/660f4d6ed1.js" crossorigin="anonymous"></script>
	<script src="/js/map_main.js"></script>
	<script src="/js/autocomplete.js" type="module"></script>
	<script src="/js/back.js"></script>
	<script src="/js/bookmark.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/js/newhome.js"></script>
</body>

</html>