<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/image/21.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뽀송길</title>
</head>

<body>
    <div id="wrap">
        <main class="main-screen welcome-screen">
            <header class="login-header welcome-header">
                <h1 class="login-header__title welcome-header__title"><br> 반가워요!</h1>
                <p class="login-header__subtitle welcome-header__subtitle">회원가입이 정상적으로<br>완료되었어요.</p>
                <p>뽀송길만 걷게 해드릴게요 <i class="fa-solid fa-cloud" style="color: #9fd8f6;"></i></p>
            </header>
            <a href="/main">로그인하러 가기</a>
        </main>
    </div>

    <footer class="footer">
        <div class="project-info">
            <h4 class="project-name">뽀송길</h4>
            <p>2023 - SSU Software Project</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/660f4d6ed1.js" crossorigin="anonymous"></script>
    <script src="/js/welcome.js"></script>
</body>

</html>