.write-button {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.write-button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5fd47c;
    opacity: 0.8;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.write-button button:hover {
    background-color: #0056b3;
}


.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.post-item {
    width: 90%;
    max-width: 700px;
    /* 게시글들 최대 길이 설정 */
    border: 1px solid #0d2aad;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    /* 테두리를 둥글게 */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.post-item .text-content {
    flex: 1;
    padding-right: 20px;
}

.post-item h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.post-item p {
    margin: 10px 0;
    color: #666;
}

.post-item .location {
    font-size: 14px;
    color: #999;
}

.post-item img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10px;
}