#writeFrm {
    width: 70%;
    margin: 0 auto;
    /* Center align the form */
}

#title-container,
#content-container,
#location-container {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

#title-box,
#content-box,
#location-box {
    width: 100%;
    height: 40px;
    /* 입력칸 길이 */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid rgb(162, 216, 248);
    outline: none;
    transition: border-color 0.3s;
    text-align: center;
}

#content-box {
    height: 150px;
    /* 높이를 다른 필드의 3배로 설정 */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    /* 둥근 테두리 추가 */
    resize: none;
    /* 사용자가 크기 조절하지 못하게 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* 텍스트 정렬을 가운데로 설정 */
    flex-direction: column;
    /* 수직 중앙 정렬을 위한 플렉스 방향 설정 */
}

#title-box:focus,
#content-box:focus,
#location-box:focus {
    border-bottom: 2px solid #007BFF;
}

#title-box::placeholder,
#content-box::placeholder,
#location-box::placeholder {
    transition: transform 0.3s ease, font-size 0.3s ease;
    transform-origin: left top;
    text-align: center;
}

#content-box::placeholder {
    /* text-align: center; */
    padding-top: 8%;
}

#title-box:focus::placeholder,
#content-box:focus::placeholder,
#location-box:focus::placeholder {
    transform: translateY(-150%);
    font-size: 12px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 중앙 정렬 */
    margin-bottom: 20px;
    width: 100%;
    overflow-x: auto;
    /* 스크롤바 추가 */
    white-space: nowrap;
}

.image-upload {
    width: 190px;
    /* 고정된 너비 설정 */
    height: 190px;
    border: 2px dashed #ccc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    /* 이미지 간격 설정 */
}

.image-upload:last-child {
    margin-right: 0;
    /* 마지막 이미지 업로드 칸의 오른쪽 마진 제거 */
}

.image-upload i {
    font-size: 30px;
    color: #ccc;
}

.image-upload img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    /* 이미지가 업로드 칸에 맞도록 너비를 100%로 설정 */
    height: 100%;
    /* 이미지가 업로드 칸에 맞도록 높이를 100%로 설정 */
}

.submit-container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* 제출 컨테이너 너비를 100%로 설정 */
}

#submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #0056b3;
}

.write-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 50px;
}