html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    position:relative;
    padding-bottom: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: 'Manrope','Apple SD Gothic Neo','Malgun Gothic',sans-serif;
    bottom: 0;
    position: relative;
    transform: translateY(-100%);
}

.project-info p {
    font-weight: 400;
    margin-bottom: 14px;
}

.project-name {
    font-family: 'Bagel Fat One', cursive;
    margin-bottom: 7px;
}