/*뽀송타임 */
.pposongtime-component {
    background-color: rgba(159, 216, 246, 0.4);
    border-radius: 20px;
    
}

.pposongtime__title {
    font-family: 'Bagel Fat One', cursive;
    padding: 15px;
    font-size: 22px;
}

.pposongtime__subtitle {
    padding: 0px 15px 12px 15px;
}

/* 뽀송타임 시간 선택 네비게이션 바 */
.time-nav {
    background-color: var(--skyblue);
    padding: 20px;
}

.time-nav__list {
    display: flex;
    justify-content: space-between;
    
}

.time-nav__btn {
    padding-bottom: 10px;
    color: inherit;
    font-size: 16px;
    font-weight: 600;
}

.time-nav__weather-icon,
.time-nav__weather-info {
    padding-bottom:10px;
    text-align: center;
    color: var(--deepblue);
    
}

.time-nav__weather-info {
    margin-bottom: 10px;
    font-weight: 600;
}

.time-nav__link {
    background-color: white;
    padding:10px;
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
}

.time-nav__link:hover,
.time-nav__link:focus {
    transition: background-color 0.2s ease-in-out;
    background-color: var(--yellow);
}