/* 홈화면 닐씨 정보 */
.home-component {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.home-column {
    display: flex;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 35px;
    width: 50%;
    margin: 0px 10px;
    /*box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0px 4px 4px -4px var(--grey);
}

.home-pposong,
.home-weather {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    width: 100%;
}

.home-weather>* {
    width: 100%;
}

.home-weather span {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px
}

.home-weather .location {
    margin-bottom: 10px;
}

.home-weather .temp-now {
    font-size: 20px;
}

.home-weather .temp-feel {
    color: var(--grey);
}

.home-weather .weather-icon {
    width: 40px;
    height: 40px;
}

/* 뽀송길 찾기 */
.home-pposong {
    background-color: var(--babyblue);
}

.home-pposong__title {
    font-size: 25px;
    font-family: 'Bagel Fat One', cursive;
    margin-bottom: 10px;
}

.home-pposong__img {
    width: 100%;
    margin-top: 10px;
    height: auto;
}

.home-notice {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 30px;
    background-color: antiquewhite;
}

.home-notice i {
    font-size: 20px;
    color: tomato;
}

.home-notice__text {
    margin-left: 15px;
}

@keyframes hideIntroScreen {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

#intro-screen {
    background-color: var(--skyblue);
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 85px;
    animation: hideIntroScreen 0.3s ease-in-out forwards;
    animation-delay: 1.5s;
    z-index: 999;
}

#intro-screen .intro-header {
    margin-top: -80px;
}