/* mypage user-profile */
.user-component {
    justify-content: space-between;
    padding: 10px 10px 30px 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}
/* 개인정보 수정 아이콘 
.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: end;
}
*/
.user-component__modify-icon {
    color:rgba(0, 0, 0, 0.8);
    padding-right: 10px;
}

.user-component__profile {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 20px;
}

.user-component__title {
    font-weight: 600;
    font-size: 18px;
}

.user-component__subtitle {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 17px;
}

/* mypage nav-bar */
.mypage-nav {
    margin-top: 20px;
}

.mypage-nav__btn {
   padding: 15px;
   background-color:aliceblue;
   border-top-right-radius: 30px;
   margin-bottom: 15px;

}

.mypage-nav__btn:hover {
    transition: color 0.2s ease-in-out;
    color: tomato;
}

.mypage-nav__btn i {
    color: var(--skyblue);
}

.mypage-nav__link {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.mypage-nav__link i {
    width: 45px;
}

.mypage-nav__link-text {
    font-size: 16px;
    opacity: 0.8;
    text-align: center;
}
