.newhome-screen {
    margin-top: -15px;
}

#map {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* viewport의 가로 너비에 맞춤 */
    max-width: 100%;
}

#map .time-nav {
    background-color: transparent;
    margin-top: 100px;
    padding: 15px 10px;
}

#map .time-nav__btn {
    cursor: pointer;
    background-color: white;
    padding: 7px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 3px 1.5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 13px;
    transition: background-color 0.2s ease-in-out;
}

#map .time-nav__btn.clicked {
    transition: background-color 0.2s ease-in-out;
    background-color: var(--yellow);
}

#map .buttons {
    padding: 0px 10px 10px 10px;
    display: flex;
    justify-content: flex-end;
}

#map .bookmark-btn,
.location-btn,
.weather-btn {
    cursor: pointer;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--deepblue);
    border-radius: 50%;
    font-size: 16px;
    /* 가로,세로 정중앙에 배치*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#map .bookmark-btn i {
    color: white;
    padding: 10px 12px;
}

#map .location-btn i {
    color: var(--yellow);
    padding: 10px;
}

#map .weather-btn i {
    padding: 11px 9.5px;
    font-size: 13px;
    color: #9fd8f6;
}

#map .weather-btn i.active {
    color: gray;
}

#map .bookmark-btn i.active {
    font-weight: 800;
    color: var(--yellow);
}

#map .location-btn i.active {
    color: tomato;
}

/* experimental */
.bottom-bar {
    bottom: 0;
    width: 100%;
    height: 22%;
    max-height: 22%;
    padding: 30px 10px 10px 10px;
    background-color: white;
    animation: slide-up 0.4s ease-in-out;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
}

.hide-bottom-bar {
    animation: slide-down 0.3s forwards;
}

.content {
    padding-right: 20px;
}

.content .home-component {
    padding-right: 60px;

}

.home-column.fixed {
    max-width: 30%;
    height: 100px;
    padding: -20px;
    font-family: 'Pangolin', 'Open Sans', sans-serif, cursive;
}

.home-weather.fixed .weather-icon {
    width: 50px;
    height: 50px;

}

.etc-info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 10px;

}

.home-column.fixed .text {
    font-size: 17px;
}

.etc-info span {
    margin-bottom: 5px;
}

/* 
.weather {
    display: flex;
    justify-content: space-between;
    background-color:aliceblue;
    ;
}

.weather-info {
    width:25%;
    max-width: 25%;
    height:100px;
    max-height: 100px;
    background-color:#9fd8f6;
    box-shadow: 0px 4px 4px -4px var(--grey);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    padding:10px;
    text-align: left;
}

.weather-info > * {
    background-color: tomato;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-bottom:10px;
    font-size: 16px;
} */

@keyframes slide-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}