.welcome-screen {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-header {
    margin-bottom: 60px;
}

.welcome-screen a {
    font-family: 'Bagel Fat One', cursive;
    font-size: 18px;
    color: white;
    padding: 25px;
    background-color: var(--deepblue);
    border-radius: 40px;
}

.welcome-screen a:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: var(--skyblue);
}